*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}
html, body{font: 400 18px 'RobotoRegular', sans-serif}
.container{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}


body{
	background-image: url(../img/main-bg.jpg);
}

/* ==========header============ */

header{
	background-color: #030303;

}

.header{

	&__logo{
		padding: 35px 0 31px;
		float: left;	
	}

	&__nav{
		float: right;
		padding: 35px 0 31px;
	}
}

.nav__link{
		padding: 0 15px;
		font-family: "OrbitronLight";
		font-size: 18px;
		color: #fff;
		&:hover{
			color: #f84444;
		}
}

.nav__list{
		display: flex;
		display: -webkit-flex;
}

/* ==============main-1================ */

.main-1{
	img{
		width: 100%;
	}
}

.main-1__title{
	font-size: 60px;
	font-family: "OrbitronBlack"; 
	position: absolute;
	top: -234px;
}

.arrow-down{
	display: block;
	width: 103px;
	height: 103px;
	border-radius: 50px;
	background-color: #f84444;
	opacity: 0.6;
	border: none;
	position: absolute;
	top: -65px;
    left: 44.32%;
    background-image: url(../img/arrow-down.png) ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

/* ==============main-2================ */
.main-2{
	padding-top: 260px;
	padding-bottom: 250px;
	&__wrapper{
			display: flex;
			display: -webkit-flex;
	}

	&__logo{
			
	}

	&__cont{
		padding-left: 80px;
		padding-top: 20px;
		font-size: 40px;
		font-family: "OrbitronLight";
		color: #fbfdff;
	}
}



/* ==============main-3================ */

.main-3__title{
	color: #fbfdff;
	font-family: "OrbitronLight";
	font-size: 30px;
	/* text-shadow: 1px 1px 2px black; */
	span{
		font-family: "OrbitronBlack";
		color: #fbfdff;
	}
}

.main-3__body{
	/* display: flex;
	display: -webkit-flex;  */
}

.ruler{
	height: 746px;
	width: 2px;
	background-color: #f74343;
	margin-top: 130px;
	margin-left: 35px;
	position: relative;
	float: left;


	&__point-1{
	
		width: 10px;
		height: 10px;
		border-radius: 6px;
		background-color: #f74343;
		position: absolute;
		left: -4px;
	}

	&__point-250mm{		
		color: #fff;
		text-align: center;
		width: 60px;
		height: 60px;
		background-color: #f74343;
		border-radius: 30px;
		font-size: 20px;
		position: absolute;
		left: -30px;
		top: 23px;
		.ruler__quan{
			position: relative;
			top: 12px;
		}

		.ruler__mm{
			position: relative;
			top: 7px;
			font-size: 10px;
		}
	}

	&__point-2{
		width: 26px;
		height: 26px;
		border-radius: 15px;
		background-color: #f74343;
		position: absolute;
		top: 232px;
		left: -12px;
	}

	&__point-3{
		width: 26px;
		height: 26px;
		border-radius: 15px;
		background-color: #f74343;
		position: absolute;
		top: 385px;
		left: -12px;
	}
	&__point-4{
		width: 26px;
		height: 26px;
		border-radius: 15px;
		background-color: #f74343;
		position: absolute;
		top: 532px;
		left: -12px;
	}
	&__point-5{
		width: 10px;
		height: 10px;
		border-radius: 6px;
		background-color: #f74343;
		position: absolute;
		left: -4px;
		bottom: 0px;
	}
}

.rotor__wrapper{
	padding-left: 60px;
	margin-top: 130px;
	float: left;
	width: 743px;
	position: relative;
}


.rotor_pick{
	font-family: "OrbitronLight";
	font-size: 21px;
	color: white;
	position: absolute;
	bottom: 20px;
	left: 100px;
	bottom: 28px;
    left: 285px;
}

.rotor__content{
	float: left;
	margin-left: 30px;
}

.rotor__img{
	margin-top: 35px;
	margin-left: 60px;
	margin-bottom: 60px;
}

.rotor__text{
	font-family: "RobotoRegular";
	font-size: 14px;
	color: #fff;
	display: inline-block;
	width: 230px;
}
.rotor__list{
	li{
		padding-top: 35px;
			display: flex;
			display: -webkit-flex;
			align-items: center;
	}
}

.rotor__list-i{
	padding-right: 30px;
}
/* ====main-4===== */
.main-4{
		.whitebull-bg{
			background: url(../img/bg-bike.png) no-repeat;
			background-size: 100%;
		&__img{
			text-align: center;	
		}
	}
}

/* ====main-5===== */
.main-5{
	.holder-bike-bg{
		background: url(../img/bg-bike2.png) no-repeat;
		background-position: center center;
		background-size: 100%;
		position: relative;
		.main-5-img{
			position: absolute;
			top: -22%;
			left: 0;
		}
		.container{
			display: flex;
			flex-wrap: wrap;
				.left{
					width: 700px;
				}
				.right{
					width: 470px;
					margin-top: 180px;
					color: #fff;
					p{
						margin-bottom: 35px;
					}
					p:last-child{
						margin-bottom: 0;
					}
				}
		}
	}
}
/* ====main-6===== */

.main-6{
	margin-top: 230px;
	.main-6-bike-bg{
		background: url(../img/bike-bg.png) no-repeat;
		background-position: center 70%;
		background-size: 100%;
	}
	.container{
		.main-6__title{
			text-align: center;
			font-size: 36px;
			color: #fff;
			font-family: "OrbitronBlack";
			text-transform: uppercase;
			position: relative;
			z-index: 3;
		}
		.main-6-holder{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-top: 90px;
			.main-6-holder__img{
				width: 700px;
				display: flex;
				justify-content: center;
			}
			.main-6-form{
				width: 470px;
				display: flex;
    		justify-content: center;
    		img{
    			position: absolute;
    			right: -31.3%;
    			top: -45%;
    		}
				&__trans-form{
					transform: skew(-20deg, 0);
    			-moz-transform: skew(-20deg, 0);
    			-webkit-transform: skew(-20deg, 0);
    			-o-transform: skew(-15deg, 0);
    			width: 400px;
    			height: 36px;
    			margin-bottom: 18px;
    			font-family: "MyriadProRegular";
    			font-size: 18px;
				}
				.main-6-input{
					background: #d3d3d3;
					border: 0;
					padding-left: 24px;
				}
				.main-6-input:focus{
					border: 2px solid #f84444;
				}
				.main-6-submit{
					background: #f84444;
					border: 0;
					cursor: pointer;
					-webkit-transition: all 0.3s; 
    				-moz-transition: all 0.3s;
    				 transition: all 0.3s;
				}
				.main-6-submit:hover{
					background: #f53333;
				}	
				.orb{
					font-family: "OrbitronLight";
					font-size: 19px;
						span{
							text-transform: uppercase;
							font-family: "OrbitronBlack";
							font-size: 28px;
						}
					}
					.text-center{
						text-align: center;
						position: relative;
						color: #fff;
					}
					.myriad{
						font-size: 28px;
						font-family: "OrbitronLight";
				}
			}
		}
	}

}
/* ====main-7===== */

.main-7{
	margin-top: 260px;
	.container{
		.partners{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&__3{
				align-items: center;
				display: flex;
			}
		}
	}
}

/* ====main-8===== */

.main-8{
	margin-top: 200px;
	.container{
		.main-8__title{
			text-align: center;
		}
		.fs-60{
			font-size: 60px;
			font-family:  "OrbitronBlack";
			margin-bottom: 125px;
			color: #fff;
		}
		.fs-36{
			font-size: 36px;
			font-family:  "OrbitronLight";
			margin-bottom: 40px;
			color: #fff;
		}
		.social{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			&__item{
				padding-right: 37px;
			}
			&__item:last-child{
				padding: 0;
			}	
		}
	}
}


/* ====footer===== */
.footer{
	margin: 210px 0 14px;
	color: #fff;
	&__copy{
		text-transform: uppercase;
	}	
	.container{
		max-width: 585px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;

	}
}